/* index */

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .header-right_mobile{
  display: none;
  }
  .header {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 90%;
    margin: 0 auto;
    height: 165px;
  }
  .header-right{
    margin-top: 20px;
  
  }
  .header-right a {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase ;
    color: black;
    border-right: solid 1px black;
    text-align: center;
  }
  .header-right_menu {
    height: 40px;
    width: 350px;
    border-bottom: dotted 1px black;
  }
  .header-right_menu a:hover {
  color: violet;
  }
  .main-menu{
    border-top: solid 0.1px gainsboro;
  }
  .search{
    border-top: solid 0.1px gainsboro;
  }
  .main-menu ul li{
    float: left;
    list-style: none;
  }
  .main-menu ul li a {
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    color: black;
    
  }
  a.active{
    font-weight: bold;
    background: linear-gradient(to right, #0066ff 3%, #66ffff 54%);
    opacity:.6;
    color: #ff3300;
  }
  .main-menu ul li a:hover{
   color: violet;
  
   transition: 0.7s;
   background: linear-gradient(to right, #0066ff 3%, #66ffff 54%);
   opacity:.6;
   color: #ff3300;
  }
  #search{
    height: 30px;
    width:  232px;
    padding-left: 15px;
    background:#f2f2f2;
    border: none;
    margin: 10px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .search-input{
      position: relative;
  }
  .search i{
      position: absolute;
      right: 200px;
      top:137px;
  }
  .mySlides {display: none;}
  .mySlides img {
    height: 400px;;
  }
  .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 10px 50px 0 50px;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
  color: #f2f2f2;
  font-size: 80px
  padding: 8px 12px;
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
  }
  .text a{
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: whitesmoke;
  background-color: black;
  text-transform: uppercase;
  }
  .active {
  background-color: #717171;
  }
  
  .product-sandal {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    width: 90%;
    margin: 0 auto;
  }
  .sandal-item {
    height: 350px;
  }
  .sandal-item a {
  text-decoration: none;
  color: black;
  }
  .sandal-item span {
  color: red;
  }
  .sandal-item p:hover {
  color: violet;
  }
  .sandal-item img{
    height: 250px;
    width: 250px;
  }
  .title{
    text-align: center;
    margin-bottom: 40px;
  }
  .title h2{
  text-transform: uppercase;
  }
  .sandal-item img:hover{
  transform: scale(1.1);
  opacity: 0.6;
  margin: auto;
  }
  .banner {
    display: grid;
    grid-template-rows: 100%;
    width: 80%;
    margin: 60px auto;
    padding: 50px;
    text-align: center;
    background-image: url(img/banner-top.jpg);
    color:  whitesmoke;
  }
  
  .banner {
    display: grid;
    grid-template-rows: 100%;
    width: 80%;
    margin: 60px auto;
    padding: 50px;
    text-align: center;
    background-image: url(img/banner-top.jpg);
    color:  whitesmoke;
  }
  .footer{
  display: grid;
  grid-template-columns: 20% 20% 25% 35%;
  width: 100%;
  margin: 0 auto;
  background: #212121;
  }
  .col{
  padding: 30px;
  color: whitesmoke
  }
  
  .col-title{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  margin-bottom: 15px;
  }
  .main-footer{
  text-align: left;
  line-height: 30px;
  font-size: 13px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .main-footer ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  color: #717171;
  }
  .main-footer ul li a{
  color: #717171;
  text-decoration: none;
  }
  
  .main-footer  p{
  color: #717171;
  font-size: 13px;
  
  }
  .main-footer ul li a:hover{
  color: #f2f2f2;
  }
  .form-input a i{
  color: whitesmoke;
  }
  
  .form-input input {
  width: 200px;
  height: 30px;
  background: #212121 ;
  border: none;
  color: whitesmoke;
  border-bottom: solid 1px whitesmoke;
  }
  
  .footer-item ul li {
  float: left;
  padding-right: 30px;
  font-size: 25px;
  }
  
  /* feedback */
  
  .feedback {
  text-align: center;
  margin-bottom: 30px;
  }
  .feedback-content{
  border: solid 0.5px #f2f2f2;
  height: 350px;
  width: 380px;
  margin-left: 480px;
  }
  .feedback h1 {
  text-transform: uppercase;
  }
  
  .feedback-input{
  width: 270px;
  height: 37px;
  display: inline-block;
  background-color: #fff;
  border: solid 1px #f2f2f2;
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 10px;
  outline: none;
  margin-bottom: 0px;
  }
  
  .btn-feedback {
    
  height: 37px;
  width: 320px;
  margin-top: 50px;
  background-color: #292929;
  color: #ffffff;
  }
  .left .icon{
	font-size: 20px;
	color: #e9dcf5;
}

.left .text1{
	color: #9153c9;
    font-size: 17px;
}

.contact .li_wrap {
	display: flex;
	align-items: center;
	width: 100%;
    margin-bottom: 15px;
    
}

.contact .li_wrap .icon{
	width: 50px;
	height: 50px;
	background: rgb(46, 42, 42);
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
    margin-right: 15px;
    
}

.contact .li_wrap .text1{
	width: calc(100% - 50px);
	word-break: break-word;
	color: rgb(12, 11, 11);
}  
  
  